<a href="https://colab.research.google.com/github/r-autowired/AIMLWorks/blob/main/Pandas_PracTest1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np


path="/content/drive/MyDrive/Demos/books.csv"
data=pd.read_csv(path)

In [3]:
data.head()

,title,author,average_rating,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publisher,year
0,The Hunchback of Notre-Dame,Victor Hugo,4.00,9780345472427,en-US,534.0,140,22,Modern Library,2004
1,La Cucina Di Lidia: Recipes and Memories from ...,Lidia Matticchio Bastianich,4.14,9780767914222,en-GB,288.0,48,3,Clarkson Potter,2003
2,Breach of Promise,James Scott Bell,4.00,9780310243878,eng,345.0,368,36,Zondervan,2004
3,Brief Interviews with Hideous Men,David Foster Wallace,3.86,9780349111889,eng,273.0,18335,1155,Abacus,2000
4,The Killing Dance (Anita Blake Vampire Hunter...,Laurell K. Hamilton,4.13,9780425209066,en-US,368.0,59524,946,Berkley Hardcover,2006

In [4]:
data.dtypes

title                  object
author                 object
average_rating        float64
isbn13                  int64
language_code          object
num_pages             float64
ratings_count           int64
text_reviews_count      int64
publisher              object
year                    int64
dtype: object

In [11]:
ratings_data = data[data.average_rating > 4]
print(ratings_data.shape)
print('****')
new_ratings_data = data[data['average_rating']>4]
print(new_ratings_data.head())
print(new_ratings_data.shape)
print('$$$$$')
new_ratings_data2 = data['average_rating']>4
print(new_ratings_data2.head())
print(new_ratings_data2.shape)

(2115, 10)
****
                                                title  \
1   La Cucina Di Lidia: Recipes and Memories from ...
4   The Killing Dance (Anita Blake  Vampire Hunter...
5        The Hand of Chaos (The Death Gate Cycle  #5)
6                                     On Intelligence
11                      Merlin's Tour of the Universe

                         author  average_rating         isbn13 language_code  \
1   Lidia Matticchio Bastianich            4.14  9780767914222         en-GB
4           Laurell K. Hamilton            4.13  9780425209066         en-US
5                 Margaret Weis            4.06  9780553563696           eng
6                  Jeff Hawkins            4.12  9780805078534           eng
11          Neil deGrasse Tyson            4.02  9780385488358           eng

    num_pages  ratings_count  text_reviews_count             publisher  year
1       288.0             48                   3       Clarkson Potter  2003
4       368.0          59524                 946     Berkley Hardcover  2006
5       446.0          16301                 117               Spectra  1993
6       261.0           5347                 396  St. Martin's Griffin  2005
11      318.0            305                  27     Main Street Books  1997
(2115, 10)
$$$$$
0    False
1     True
2    False
3    False
4     True
Name: average_rating, dtype: bool
(5000,)

In [16]:
##ratings_data = data[data.average_rating > 4] & data[data.average_rating < 10]
ratings_data = data[(data['average_rating'] > 4) & (data['average_rating'] < 10)]
print(ratings_data.shape)
print('****')

(2115, 10)
****

In [44]:
lang_data1 = data[data['language_code'] == 'eng']
#print(lang_data1)
new_data1 = lang_data1['average_rating'].mean()
new_data1
##  But the actual solution should be using groupBy
data.groupby('language_code')['average_rating'].mean()

language_code
en-GB    3.922523
en-US    3.914800
eng      3.931143
ger      3.979773
grc      2.366667
jpn      4.252381
lat      4.170000
mul      4.116000
spa      3.927938
Name: average_rating, dtype: float64

In [21]:
data.iloc[0:5, 0:4]

,title,author,average_rating,isbn13
0,The Hunchback of Notre-Dame,Victor Hugo,4.00,9780345472427
1,La Cucina Di Lidia: Recipes and Memories from ...,Lidia Matticchio Bastianich,4.14,9780767914222
2,Breach of Promise,James Scott Bell,4.00,9780310243878
3,Brief Interviews with Hideous Men,David Foster Wallace,3.86,9780349111889
4,The Killing Dance (Anita Blake Vampire Hunter...,Laurell K. Hamilton,4.13,9780425209066

In [22]:
med1 = data['num_pages'].median()
med1

304.0

In [23]:
max1 = data['num_pages'].max()
max1

3342.0

In [24]:
mod1 = data['num_pages'].mode()
mod1

0    288.0
Name: num_pages, dtype: float64

In [25]:
mean1 = data['num_pages'].mean()
mean1

341.0940205355345

In [28]:
data2010 = data[data['year'] == 2010]
data2010.shape

(15, 10)

In [45]:
daw_data1 = data[(data['publisher'] == 'DAW')& (data['average_rating'] > 4)]
daw_data1.shape
daw_data1['author']
## above way i counter unique author the real way is
pd.unique(daw_data1['author'])

array(['Mercedes Lackey', 'Sharon Green'], dtype=object)

In [31]:
data[(data['num_pages'] > 500) & (data['year'] > 2010)].shape

(5, 10)

In [53]:
## data[(data['author'] == 'Agatha Christie')].value_counts().sum() == this gets me 19 books but total is 21
len_d1 = len(data[(data['author'] == 'Agatha Christie')])
print(len_d1)
##given solu
data[data['author'] == 'Agatha Christie'].shape[0]

21

21

In [42]:
len(data[(data['language_code'] == 'spa') & (data['year'] > 2000)])

84

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               5000 non-null   object
 1   author              5000 non-null   object
 2   average_rating      5000 non-null   float64
 3   isbn13              5000 non-null   int64
 4   language_code       4923 non-null   object
 5   num_pages           4967 non-null   float64
 6   ratings_count       5000 non-null   int64
 7   text_reviews_count  5000 non-null   int64
 8   publisher           5000 non-null   object
 9   year                5000 non-null   int64
dtypes: float64(2), int64(4), object(4)
memory usage: 390.8+ KB